body {
    background: #d0b3ee;
    display: flex;
    height: 100vh;
    justify-content: center;
}

h1 {
    width: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-color: gray;
    border-bottom-color: #02dada;
    border-width: 200px;
}
